<div class="overlay">
  <div class="card">

    <!-- LOGIN FORM -->
    <form *ngIf="!showRegister" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <h2>Login Page</h2>

      <input type="email" placeholder="Email" formControlName="email">
      <small *ngIf="email.touched && email.invalid">
        Enter a valid email
      </small>

      <input type="password" placeholder="Password" formControlName="password">
      <small *ngIf="password.touched && password.invalid">
        Minimum 6 characters
      </small>

      <button type="submit">Login</button>

      <p class="switch">
        New here? <span (click)="openRegister()">Create account</span>
      </p>

      <span class="close" (click)="close.emit()">✕</span>
    </form>

    <!-- REGISTER FORM -->
    <app-register
      *ngIf="showRegister"
      (registered)="backToLogin()"
      (close)="close.emit()">
    </app-register>

  </div>
</div>
